
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_solar.cshtml";
}
<h2 class="text-center">Resume</h2>
<div class="text-center" style="color:white">
    <embed src="~/Resume/resume1.pdf" class="visible-enabled" id="resumee"/>
</div>

