
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/_solar.cshtml";
}

<h2 class="text-center">Work Experience</h2>
<b>.NET Developer – Quadax, Inc, Cleveland, OH</b><br />
January 2017 - October 2017<br />
•	Worked on the application and provided user input validations using C#.NET.<br/>
•	Worked on RESTful API application using ASP.NET MVC Web API.<br/>
•	Debugged the client-side development using JavaScript.<br/>
•	Developed Data Access objects using Entity Framework and LINQ.<br/>
•	Developed Stored Procedures queries to perform database operations in SQL Server database for creating field reports.<br/>
•	Involved in bug fixing and issue tracking to enhanced client requirement using JIRA and push the code to Git.<br/>
•	Used Agile Methodology for maintaining the project schedule and tasks.<br/>

<b>Web Developer – Research Center Imarat, India  </b><br />
December 2014 - November 2015<br />
•	Worked on Security features by using authentication and authorization.<br/>
•	Encrypted the data over the network along with the key value by giving unique set of numbers.<br/>
•	Worked on the application by provided user input validations using C#.NET.<br/>
•	Worked on Controller, Model, View in ASP.NET MVC 4 to be dynamic, fetch data from the database and send it to Views.<br/>
•	Used Entity Framework for data retrieving, querying, storage and manipulation using LINQ.<br/>
•	Identified, documented and reported bugs, errors within proprietary software applications<br />
<br />





						


					

